{% extends 'base.html' %}

{% block content %}
  <div class="project-template">
    <!-- <div class="project-header">
      <h2>Fleeting Communes</h2>
      <h3>React, NodeJS, Express, WebSockets, WebRTC</h3>
    </div> -->
    <div class="project-body">
      <p>Peer-to-peer videochat with messaging capabilities, rooms built using NodeJs, Node's ws library for websocket implementation, PeerJS for WebRTC peer-to-peer media sharing, React for UI.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt felis ut purus tempor, ac vehicula justo porta. Nulla interdum in metus vitae condimentum. Aliquam erat volutpat. Vestibulum eleifend sagittis ultricies. Ut in eleifend mauris. Nunc felis dui, interdum at auctor eget, rhoncus sed magna. Proin tincidunt luctus faucibus. Praesent convallis non arcu in blandit. Sed vitae commodo quam.</p>
      <p>Aenean id dolor et mauris rhoncus luctus non et nulla. Pellentesque ex diam, convallis sit amet eros ac, rhoncus malesuada turpis. Nullam tincidunt eros at urna mattis, luctus finibus est faucibus. Phasellus quis risus maximus, rutrum sapien ac, faucibus felis.</p>
    </div>   
    <div class="project-nav">
      <a class="button" href="https://fleeting-communes.herokuapp.com/" target="_blank">Deployed App</a>
      <a class="button" href="https://github.com/montblake/fleeting-communes" target="_blank" >GitHub for React Frontend</a>
      <a class="button" href="https://github.com/montblake/spare-socket-server" target="_blank" >GitHub for Express Backend</a>
      <a class="button" href="{{url_for('index')}}">Back to Portfolio</a>
    </div>
  </div>
{% endblock %}