{% extends 'base.html' %}

{% block content %}
  <div class="project-template">
    <!-- <div class="project-header">
      <h2>Forking Cocktails</h2>
      <h3>NodeJS, Express, EJS templates, Mongoose, MongoDB</h3>
    </div> -->
    <div class="project-body">
      <p>Recipe Development Tool and Cocktail Database rendered via template from database with full CRUD functionality, user authentication and authorization.</p>
      <p>On the simplest level, this app allows a guest to explore a cocktail database by recipe, ingredient, or by recipe creator. A registered and logged-in user can add their own ingredients and recipes to the database. A user can also edit or delete their own contributions.</p><p>The app takes its name from its ability to create new recipes using other recipes as the starting point. In software development this is often called "forking" while in the restaurant/bar world, it might be called a "riff" or "spin" or "variation".</p>
    </div>   
    <div class="project-nav">
      <a class="button" href="https://salty-inlet-99632.herokuapp.com/" target="_blank">Open App</a>
      <a class="button" href="https://github.com/montblake/cocktails" target="_blank" >Explore Code on GitHub</a>
      <a class="button" href="{{url_for('index')}}">Back to Portfolio</a>
    </div>
  </div>
{% endblock %}