{% extends 'base.html' %}

{% block content %}
<section class="main-content">
    <div id="container-main">

        <header class="project-head">
            <h1>SIX_D_KB</h1>
            <nav>
                <div id="btn-game" class="proj-btn proj-btn-current">The Game</div>
                <div id="btn-project" class="proj-btn proj-btn-active">About The Project</div>
                <div id="btn-tech" class="proj-btn proj-btn-active">Coming Improvements</div>
            </nav>
        </header>
        <main id="main-bacon">
            <div class="proj-text">

                <div id="the-game">
                    
                    <p class="narrow">The parlor game <span>Six Degrees of Kevin Bacon</span> was inspired by the concept that any two people in the world could be linked by six personal connections or fewer. The game begins with some actor from a Hollywood film. The challenge is to link them — through films they have worked on and actors with whom they have worked — to Kevin Bacon with six degrees of separation or less.</p>
                    <p class="narrow">The SIX_D_KB app offers two ways to start the game: with an actor chosen at random from the database or by the user entering a specific actor by name. And, if by chance you don't like Kevin Bacon, know who Kevin Bacon is, or for any other reason, you can change the game with a simple click.</p>
                    <p class="narrow">The user can scroll through the actor's filmography, clicking on any title to reveal a cast list, and look for Kevin Bacon. Or they can select ANY actor from the cast lists in the hope THAT person has worked with Kevin Bacon. As you progress the app keeps track of who worked with whom, how many guesses remain, how much time remains of the clock.</p>

                </div>
                <div id="the-project" class="hidden">
                    <h4>Version 1.0</h4>
                    <p class="narrow">This was originally my first project at General Assembly in which the challenge was to build an app that gathered data from some free API and injected it into a simple html, css webpage using jQuery to handle dynamic rendering and user interaction</p>
                    <p class="narrow">The real challenge turned out to be how much data I needed to deal with.
                    In tackling "Six Degrees of Kevin Bacon", I needed to enter an actor's name and get back an official entry with name, image, and a list of all their films. Getting the filmography was easy. Filtering the list until only major Hollywood movies remained was a bit more interesting.</p>
                    <p class="narrow">For major stars an initial list was often in the range of 500 or so entries; algorithm left us with 40 or 50 final films. The filmography list already contained not only those films' titles, but also the year they were released and poster images. What it didn't have was any kind of cast list. For that, the app needed to call a different API once for each film.</p>
                    <p class="narrow">This first phase of the project was just about creating handling this information. I had to create some javascript objects to hold the data, the process had to be repeatable six times. Finally a visual frame had to be created to hold all this information as it arrived. There was no end, no real semblance of the game.</p>

                    <h4>Version 2.0</h4>
                    <p class="narrow">For the August Mintbean Hackathon for Junior Devs, I revised this project. Now it has a Flask backend along with a React frontend. The main goal was to go further in "gamifying" the data. I added the game logic and highlighted the game aspects in visual layout.</p>
                    <p class="narrow">Beyond that, I had another goal: I wanted to store the results of all our API calls and reduce the need for calls over time. Working with SQLAlchemy and a PostgreSQL database, I added film and actor tables and set up the various relationships. Finally I had to create the logic to get information from the database if available before making an api call and also to check the completeness of that information and if necessary make an api call to complete the information.</p>
                    <p class="narrow">Unfortunately, the current state of the app has a big drawback. It is SLOW! If the info is in the database, everything works great. If not, the current version has to collect ALL of the information before it returns ANYTHING. All fifty movie casts must be individually looked up before you can even see the actor's picture. Ooops.</p>                     


                    
                </div>
                
                <div id="the-techs" class="hidden">
                    <p class="narrow">The first thing to take care of is to separate the various sub-processes of gathering actor data. The individual movie data needs to be an independent search in order to speed up the delivery of information. Perhaps it is possible to maintain two separate processes: one that prioritizes speed of deliverability, one that prioritizes building the database.</p>
                    <p class="narrow">Additionally, I'd like to create a dashboard to track the size of the Database and its contents. Perhaps also track numbers of users, of searches, of API calls vs Database success. It would be nice if I could track the number of API calls and shut that down before we hit our daily maximum.</p>
                    <p class="narrow">On a game level (visual level?) I can go further in adding highlights to various elements of the scoreboard and history that change over time. As the clock ticks down, does it get brighter or bigger or more central? The other option, I have realized, to laying everything out all over the space is to present only one element (or a selection of elements) at one time. A single focus playing space where the current focus is the only thing occupying your sight at that time. I suppose there is some sort of hybrid with a single focus playing area with buttons or images or text replacing one another at the focus -- while at the same time a dashboard is laid over a part of the screen.</p>
                </div>
                
                <div class="button-grp">
                    <a class="button" href="https://six-degrees-flask-react.herokuapp.com/" target="_blank">Play Game</a>
                    <a class="button" href="https://github.com/montblake/six-degrees-react" target="_blank" >React Frontend GitHub</a>
                    <a class="button" href="https://github.com/montblake/six-degrees-flask" target="_blank" >Flask Backend GitHub</a>
                </div>
            </div>
            <div class="proj-image">
                <img id="image1" class="current-image" src="{{url_for('static', filename="images/six-deg-combo1.jpg")}}" alt="project screenshot">
                <img id="image2" class="hidden-image" src="{{url_for('static', filename="images/six-deg-combo2.jpg")}}" alt="project screenshot">
                <img id="image3" class="hidden-image" src="{{url_for('static', filename="images/six-deg.png")}}" alt="project screenshot">
            </div>
        </main>
    </div>
</section>
<script src="{{url_for('static', filename='js/projects.js')}}"></script>
{% endblock %}