{% extends "base.html" %}
 
{% block content %}
  <div class="content">
    <h2>Blog</h2>
    <p class="content-inset">
      Enamel pin DIY kombucha eiusmod lyft lorem, aliqua prism slow-carb authentic nulla hexagon. Tousled kitsch adaptogen do. Gluten-free church-key coloring book meditation lo-fi scenester laborum adipisicing qui blog poke single-origin coffee sustainable sartorial knausgaard. Kitsch cray snackwave, ugh in air plant ullamco messenger bag tumeric celiac est disrupt. Sartorial freegan mixtape, disrupt four loko kogi enamel pin crucifix activated charcoal cronut.
    </p>
  </div>
{% endblock %}