{% extends 'base.html' %}

{% block content %}
    <section id="about" class="main-content">
        <div id="container-main">
            
            <header>
                <ul id="main-nav">
                    <li id="btn-intro" class="btn-current-subject">Introduction</li>
                    <li id="btn-boot" class="btn-active">bootcamp grad</li>
                    <li id="btn-theater" class="btn-active">career-changer</li>
                    <li id="btn-full" class="btn-active">full stack development</li>
                    <li id="btn-current" class="btn-active">current Work</li>
                </ul>
            </header>
            <main>

                <div class="proj-text">
                    
                    <div id="info-intro" class="para-current-subject">
                        <h3>Hi. I'm Blake, a software engineer and web developer based in Chicago, Illinois.</h3>
                        
                        <p>I believe exploring <a href="/projects" class="text-tag">my projects</a> is a good way to get to know me as a developer. I've created a landing page for each which gives some insight into how I view each project, its particular challenges, and what elements I am working on next.</p>
                        <!-- <p>Please bear in mind these projects are hosted on free Heroku dynos and may take a few seconds for things to start up.</p> -->

                        <p>If you're looking for more information about who I am and how I approach the work, you might be interested in my thoughts on being <span id="tag-boot" class="text-tag">bootcamp grad</span>, what draws me to <span id="tag-full" class="text-tag">full stack</span> development, what I did in my <span id="tag-theater" class="text-tag">previous career</span>, and the focus of my <span id="tag-current" class="text-tag">current work.</span></p>
                    </div>
                    
                    <div id="info-boot" class="hidden">
                        <p>I got my start in coding with Stanford University's online pandemic offering <span id="cip">Code in Place</span> which gave me a foundation in computer science principles, an approach to the deconstruction of problems, a grasp of the fundamentals of the Python language, and an appreciation for the magic  of programming.</p>
                        <p>After that, I continued with a year of self-study focusing on front-end web development. Eventually I found myself getting bogged down with trying to master every detail. Unsure of what was important, I became stuck. For me, bootcamp was the antidote.</p>
                        <p>My program, <span id="ga">General Assembly's Software Engineering Immersive</span>, used a project-focused approach, alternating between periods of learning (lectures, code alongs, problem sets, practical lab problems) and projects. It was in the project weeks that I really learned how things were put together, how to find bugs, break down problems, become comfortable working with code, reusing and recycling things to my purpose. Most importantly, I learned how to trust the iterative nature of the development process, achieving "minimum viable product" and then building out new features as time allows.</p>
                        <p>We began with JavaScript and moved quickly from frontend to back, building our knowledge first with old school jQuery, then NodeJs and Express, Mongoose and MongoDB, and finally adding React for fullstack application.  Once we understood the full stack, we switched to Ruby and the Rails framework as well as changing to a relational database PostgreSQL. Finally we ended with a self-study capstone project during which I returned to my Python roots and tackled the Flask microframework.</p>
                        <p class="make_bold">This progression gave me the confidence to know that I can tackle any technology necessary and that behind all the various stacks, the same engineering principles are at play.</p>
                       
                    </div>
                    
                    <div id="info-full" class="hidden">
                        <p>Full Stack. For me front to back information. structure for the play. I love the play but the magic is really in the structure. Microdosing plaid vape, aliqua knausgaard hella exercitation air plant hoodie occupy. You probably haven't heard of them ut deep v adipisicing photo booth franzen portland, echo park ad craft beer kogi cupidatat single-origin coffee cardigan.<br><br> Narwhal craft beer wolf tousled.</p>
                        <p>Flexitarian sriracha DIY, commodo XOXO squid distillery slow-carb cold-pressed cornhole. Voluptate taxidermy literally mumblecore normcore, thundercats austin PBR&B intelligentsia humblebrag truffaut aliqua fixie lumbersexual. Laboris tofu fanny pack VHS knausgaard sint, trust fund commodo four loko thundercats brunch.</p>
                    </div>
                    
                    <div id="info-theater" class="hidden">
                        <p>I studied theater in college. Nearing graduation, I was a bit torn as to whether I was an actor or director.I discovered a little school of theater in remote Northern California that taught "classic physical theater styles" and promoted the art of "the Actor-Creator."  I frankly didn't really know what those things were, but somehow they seemed to me to possibly be what I was looking for.</p>
                        <p>That was the beginning of a period of study in Northern California, Minneapolis, Minnesota, and Paris, France. And that has led to a varied career over the years as a performer, director, creator, producer, administrator, educator, movement coach, and more</p>
                        <p>As a theater creator. Making things, managing time in an amorphous process. Trusting process and iterations. In a very different medium, absolutely concerned with the user's experience. That is what we are creating. Everything that supports that should be cultivated, everything that detracts should be eliminated.</p>
                        <p>I also, through direction and institution leading have learned to communicate a vision, encourage the enthusiasm and commitment of the ensemble, and manage the ups and downs of an iterative process. Capitalizing on successes and using failures to identify flaws and rediscover the core.</p>
                    </div>
                    
                    <div id="info-current" class="hidden">
                        <p>As a bootcamp grad entering the job market, it is easy to become overwhelmed by the amount of things you don't know. </p>
                        <p>Guiding current work. Desire to continue to understand Flask and the backend. More with serving data. Databases. FOcus on the same tools again and again. Because the questions I want to ask first are about HOW THINGS ARE DONE, A MORE PROFESSIONAL ENGINEERING WAY OF WORKING. Comments. Learning use of clean code techniques.</p>
                        <p>Clean git commits. Using git appropriately. Staying focused. Logging and event handling are important additions. Organization. MOSTLY WORKING IN A CONTROLLED MANNER. Tests, testing, and test driven development!!!!</p>
                    </div>
                    
                    <div id="info-code" class="hidden">
                        <p>Code in place. I got my start. Shout out ot pedagogy. To getting me to think beyond lines of code. To begin asking how do I solve problems? While stressing the details of not just how Python works but why it work. The lectures and pedagogy show the results of a program years in the making, many iterations. And the insight, passion, and care of professors Piech and Sahami.</p>
                        <p>To go back this past spring and Lead a section of the class. was a wonderful chance to give back and to get access to a bunch of teaching pedagogy insights from some really amazing professors. Tilde offal consectetur 3 wolf moon. Bitters dreamcatcher culpa cillum aliquip, ipsum cray tumblr id aliqua salvia pok pok lumbersexual kogi. Tempor twee man bun letterpress umami. Sed typewriter tousled, magna narwhal est et elit schlitz culpa taxidermy.</p>
                    </div>
                    
                </div>

                <div class="proj-image">
                    <img id="image1" class="current-image" src="{{url_for('static', filename="images/blake_pic.jpg")}}" alt="project screenshot">
                    <img id="image2" class="hidden-image" src="{{url_for('static', filename="images/six-deg2.png")}}" alt="project screenshot">
                    <img id="image3" class="hidden-image" src="{{url_for('static', filename="images/six-deg3.png")}}" alt="project screenshot">
                </div>
            </main>

        </div>
    </section>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

