{% extends "base.html" %}
 
{% block content %}
    <section id="projects" class="main-content">
        <div id="container-main">
            <h2>Featured Projects</h2>
            <ul id="project-list">
                <a href="{{url_for('project_six_degrees')}}">
                    <li id="proj-sixdkb">
                        <div class="tint-layer"></div>
                        <div class="image-frame">
                            <img src="{{url_for('static', filename="images/six-deg.png")}}" alt="screenshot of app"/>
                        </div>
                        <div class="text-box">
                            <h4>SIX_D_KB</h4>
                            <h5>project</h5>
                            <p>Trivia game featuring data from third party APIs with a database implementation designed to reduce API calls over time.</p>
                            <h5>technologies used</h5>
                            <p>React, Python, Flask, SqlAlchemy, PostgreSQL</p>
                        </div>
                    </li>
                </a>

                <!-- <a href="{{url_for('project_cocktails')}}"> 
                    <li id="proj-cocktails">
                        <div class="tint-layer"></div>
                        <div class="image-frame">
                            <img src="https://i.imgur.com/TRiUCM7b.png" alt="screenshot of app"/>
                        </div>
                        <div class="text-box">
                            <h4>Forking Cocktails</h4>
                            <h5>project</h5>
                            <p>Recipe Development Tool and Cocktail Database rendered via template from database with full CRUD functionality, user authentication and authorization</p>
                            <h5>technologies used</h5>
                            <p>NodeJs, Express, Mongoose, MongoDB, EJS</p>
                        </div>
                    </li>
                </a> -->
            
            
                <!-- <a href="{{url_for('project_marketplace')}}"> 
                    <li id="proj-marketplace">
                        <div class="tint-layer"></div>
                        <div class="image-frame">
                            <img src="https://i.imgur.com/mIXNkNL.png" alt="screenshot of app"/>
                        </div>
                        <div class="text-box">
                            <h4>The Marketplace of Ideas</h4>
                            <h5>project</h5>
                            <p>Simple web storefront with inventory rendered via template and dynamically injected data.</p>
                            <h5>technologies</h5>
                            <p>NodeJs, Express, Mongoose, MongoDB, EJS</p>
                        </div>
                    </li>
                </a> -->
                
                <a href="{{url_for('project_chartreuse')}}"> 
                    <li id="proj-chartreuse">
                        <div class="tint-layer"></div>
                        <div class="image-frame">
                            <img src="https://i.imgur.com/aPYgBsM.png" alt="screenshot of app"/>
                        </div>
                        <div class="text-box">
                            <h4>Chartreuse</h4>
                            <h5>project</h5>
                            <p>Beyond static presentation, this full-stack app for an upscale restaurant explores the possibilities of a database of menu items linked to a dynamic menu.</p>
                            <h5>technologies used</h5>
                            <p>React, NodeJS, Express, Mongoose, MongoDB</p>
                        </div>
                    </li>
                </a>
<!--                 
                <a href="{{url_for('project_code_green')}}"> 
                    <li id="proj-code-green">
                        <div class="tint-layer"></div>
                        <div class="image-frame">
                            <img src="https://i.imgur.com/0TvMTGf.png" alt="screenshot of app"/>
                        </div>
                        <div class="text-box">
                            <h4>Code Green</h4>
                            <h5>project</h5>
                            <p>Internal messaging app for a fictional "Garden Tech" company. Authentication and authorization using JWTs and message board updated in near-real-time via polling.</p>
                            <h5>technologies</h5>
                            <p>React, Ruby on Rails, PostgreSQL</p>
                        </div>
                    </li>
                </a> -->
                
                <a href="{{url_for('project_django_and_flask')}}"> 
                    <li id="proj-django-and-flask">
                        <div class="tint-layer"></div>
                        <div class="image-frame">
                            <img src="https://i.imgur.com/PkBKACV.png" alt="screenshot of app"/>
                        </div>
                        <div class="text-box">
                            <h4>Django and Flask</h4>
                            <h5>project</h5>
                            <p>Full-stack app for crowdsourced detective series with database of Episodes and Creators, full CRUD functionality, user authentication and authorization.</p>
                            <h5>technologies used</h5>
                            <p>React, Python, Flask, SqlAlchemy, PostgreSQL</p>
                        </div>
                    </li>
                </a>

            </ul>
            
        </div>
    </section>
<script src="{{url_for('static', filename='js/portfolio.js')}}"></script>
{% endblock %}