{% extends "base.html" %}
 
{% block content %}
<section id="contact" class="main-content">

  <div id="container-main">
    {% if not success %}
    <h2>Request a resume</h2>
    {% endif %}
      
    {% if success %}
      <h2>Thanks, {{recipient}}. Blake's resume has been sent to you.</h2>
   
    {% else %}
     
      <form action="{{ url_for('resume') }}" method=post>
        {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}
          {{ form.name(size=32)}}
          {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.email.label }}
          {{ form.email(size=32)}}
          {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.email_confirmation.label }}
          {{ form.email_confirmation(size=32)}}
          {% for error in form.email_confirmation.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.submit }}
        </p>       
      </form>
   
    {% endif %}
  </div>

</section>
{% endblock %}
